.login {
  width: 390px;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0px 9px 18px 2px lightgrey;
  margin: auto;
}

.bg-200 {
  background-color: #e9ecef;
}

.main-container {
  max-width: 100em;
  margin: auto;
}

.title-footer {
  font-size: small;
  font-weight: lighter;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
